<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://tse2.mm.bing.net/th?id=OIP._9IwK2tEpjTAOGNyo-55jgHaHC&pid=Api&P=0&w=178&h=170">
    <link rel="stylesheet" href="./css/style.css" />

    <title>Home</title>
</head>

<body>
    <div class="main">

        {{>header}}

        <h4> Get Your weather forecast here</h4>
        <form>
            <input type="text" placeholder="Enter Location">
            <button>Search</button>
        </form>


        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    <p>{{>footer}}</p>

    <script src="./js/index.js"></script>
</body>

</html>